/*-------------------------------------------------*\
    Images
\*-------------------------------------------------*/

img,
picture {
    display: block;
    height: auto;
    max-width: 100%; /* Fluid images for responsive purposes */
    font-style: italic; /* Offset alt text from surrounding copy */
}

/* If width and/or height are explicitly defined, do not make the image fluid */

img[width],
img[height] {
    /* max-width: none; */
}