/*-------------------------------------------------*\
    Helper classes
    - Use !important to ensure high specificity
    - Only add helper classes as they're needed
\*-------------------------------------------------*/

/* .mb-0 {
    margin-bottom: 0 !important;
} */

/* .italic {
    font-style: italic !important;
} */

/* .line-height-flat {
    line-height: var(--line-height-flat) !important;
} */

/* .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
} */
